body {
    background-image: url("../img/Aparasic.jpg");
}

header {
    text-align: center;

}

h6 {
    color: #4f4f4f;
}

.perfil {
    --g: 8px;  
    --b: 22px;    
    --c: #4f4f4f; 
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .6s;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 10px solid #1f1f1f;
  }
.perfil:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }

  .linktexto {
    font-size: 100%;
    color: lightseagreen;
  }

.gif {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h3 {
    padding: 2%;
    margin: 2%;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 60px;
    text-decoration: none; 
    color: #eee;
}

.social-icons img {
    width: 90px; 
    height: auto; 
}

.social-icons p {
    margin: 5px 0 0;
    font-size: 20px;
}
