body {
    background-image: url("../img/Andrefurtado.jpg");
}

html {
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label, input, select, textarea {
    display: block;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.social-icons a {
    display: inline-block;
    margin: 0 120px;
    text-decoration: none;
    color: #eee;
}

h6 {
    color: #4f4f4f;
}

.image-container {
    text-align: center;
    flex: 0 0 35%; 

}

.form-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    background-color: #1a1a1a; /* Cinza escuro */
    background-image: linear-gradient(to bottom, #1f1f1f, #444444);
}

.form-content {
    width: 70%;
}

.imagem {
    height: 300px; 
    box-shadow: 1px 6px 18px #0008;
    border-radius: 20px;
    margin-top: 45px;
}



.fieldforms {
    border-radius: 20px;
    margin-top: 45px;
}
