body {
    background-image: url("../img/Vincent.jpg");
}

.lilita-one-regular {
    font-family: 'Lilita One', cursive;
}
.icone {
    width: 50px;
    height: auto;
}
.lado {
    width: 300px;
    height: auto;
    float: right;
    margin: 10px;
}

.aproximar {
    color: #4f4f4f;
}

.cores {
    color: #7c2a2a;
}

strong  {
color: #832727; 
}

.negrito  {
    color: #832727; 
    }
    